:root {
  --foreground-color: #FFFFFF;
  --background-color: #61777F;
  --inputBackColor: yellow;
  --fontColor: black;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background: hsla(196, 13%, 44%, 1);

/* background: linear-gradient(-90deg, hsla(196, 13%, 44%, 1) 50%, hsla(254, 52%, 92%, 1) 100%);
background: -moz-linear-gradient(-90deg, hsla(196, 13%, 44%, 1) 50%, hsla(254, 52%, 92%, 1) 100%);
background: -webkit-linear-gradient(-90deg, hsla(196, 13%, 44%, 1) 50%, hsla(254, 52%, 92%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#61777F", endColorstr="#E4DFF5", GradientType=1 ); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;


}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; /* Asegúrate de cubrir toda la vista */
  flex-direction: column;

  /* SVG background */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./background2.svg");
  /* background tool and author
  https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/
  <a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">Free SVG Backgrounds and Patterns by SVGBackgrounds.com</a> */

}

a {
  font-weight: 500;
  color: #171719;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* @media (width < 362px) {
  :root {
    /* background: none;
    background-color: #61777F; 
  }
} */